*{
box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    background-color: #494848;
    font-family: simpson;
    color: rgb(247, 151, 7);
    
}

@font-face {
    font-family: simpson;
    src: url(../fonts/simpson.otf);

}

#color{
    color: rgb(248, 247, 246);
    font-size: 25px;
}

.contenedorhomero {
 margin-top: 60px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 50px;
}

footer {
width: 100%;
height: 10rem;
margin-top: 10px;
    
}

h1:first-letter {
color: rgb(255, 0, 221);
font-size: 60px;

 }

 .botones {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 20px;
    font-size: 30px;
    
 }

.homero:hover {
    color: aquamarine;

}

p {
    font-size: 20px;
    text-align: center;
}

.botonfinal{
    display: flex;
    margin: 10px;
    font-size: 30px;
    justify-content:center;
    width: 100%;
}

.contenedor {
font-size: 40px;
}
